# Mac OS X cruft
*.xcworkspace
*xcuserdata
*.perspectivev3
*.pbxuser
*.mode1v3
*.mode2v3
*.user
.DS_Store

build

# Windows cruft
*.suo
*.ncb
*.sdf
Debug/
Release/

# Python
*.pyc

/xcode/Kepler.xcodeproj/project.pbxproj.mergesave
