[submodule "blocks/CinderGestures"]
	path = blocks/CinderGestures
	url = git@github.com:bloomtime/CinderGestures.git
[submodule "blocks/CinderIPod"]
	path = blocks/CinderIPod
	url = git@github.com:bloomtime/CinderIPod.git
[submodule "blocks/CinderFlurry"]
	path = blocks/CinderFlurry
	url = git@github.com:bloomtime/CinderFlurry.git
[submodule "blocks/CinderOrientation"]
	path = blocks/CinderOrientation
	url = git@github.com:bloomtime/CinderOrientation.git
[submodule "blocks/BloomScene"]
	path = blocks/BloomScene
	url = git@github.com:bloomtime/BloomScene.git
